#root,
.app-container {
  height: 100vh;
  width: 100vw; 
  overflow: auto; 
}

.app-main-container {
  position: relative;  
  background-color: #F1F6FF;  
  width: 100%;
  padding: 36px 0;  
  overflow: auto;  
}

.app-content {
  display: flex;  
  justify-content: center;
  width: 100%; 
}

.bold__header__20 {
  font-weight: 700;
  font-size: 1.25rem;
}

.grey__color {
  color: #808080;
}

.display-name-container{
  max-width: 10ch;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
