#root,
.app-container {
  height: 100vh;
  width: 100vw; 
  overflow: auto; 
}

.app-main-container {
  position: relative;  
  background-color: #F1F6FF;  
  width: 100%;  
  overflow: auto;  
}

.app-content {
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;    
}

input:-webkit-autofill{
  -webkit-text-fill-color: black !important;
}

.bold__header__20 {
  font-weight: 700;
  font-size: 1.25rem;
}

.grey__color {
  color: #808080;
}

.display-name-container{
  max-width: 10ch;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
